body{
    background-color: white;
}
/* div{
    background-color: rgb(61, 110, 202);
    border: 1px solid red;
} */
#mainTweet {
    min-height: 7rem;
    margin-bottom: 1rem;
}

/* TweetTemplate inside Feed - Hai */

#tweetTemplate{
    min-height: 7rem; 
}

.text {
    line-height: 3rem;
}

.faButton {
    text-decoration-style: none;
    color: #949494 !important;
}

.faButton > i {
    padding: 10px;
}

#commentBtn :hover {
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
}

#retweetBtn :hover {
    background-color: rgb(223, 247, 227);
    color: rgb(143, 199, 152);
}

#likeBtn :hover {
    background-color: rgb(247, 223, 223);
    color: rgb(190, 128, 128);
}

#shareBtn :hover {
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
}

#expandBtn :hover{
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
}

/* END */