:root {
    --primary-color: rgb(29, 161, 242);
    --secondary-color: rgb(163, 204, 230);
    --main-bg-color: #fff;
    --sub-bg-color: #f6f8fa;
    --main-border: rgb(246,248,250);
}

* :focus {
    outline: none;
}

/* header */
#header, #mainTweet{
    background-color: var(--main-bg-color);
    border: 0.9px solid var(--main-border);
} 

#mainTweet {
    min-height: 7rem;
    padding-bottom: 1rem;
    background-color: var(--sub-bg-color);
}

#avatar, #tweetArea {
    background-color: var(--main-bg-color);
}

#remainingChars {
    font-size: .9rem;
}

#leftButtonMainTweet :hover {
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
    padding: 7px;
    border-radius: 50%;
}


/* TweetTemplate inside Feed - Hai */


#tweetTemplate, .tweet {
    background-color: var(--main-bg-color);
    min-height: 7rem; 
    border: 0.9px solid var(--main-border);
    border-top: none;
}

.retweet {
    background-color: var(--main-bg-color);
    min-height: 5rem; 
    border: 0.9px solid var(--main-border);
}

/* this removes resize button at the right corner of the text area */
textarea {
    resize: none;
}
/* this removes ouline box when text area in focus */
textarea :focus {
    outline: none;
}

.text {
    line-height: 3rem;
}

.faButton {
    text-decoration-style: none;
    color: #949494 !important;
}

.faButton > i {
    padding: 10px;
}

.commentBtn :hover {
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
}

.retweetBtn :hover {
    background-color: rgb(223, 247, 227);
    color: rgb(143, 199, 152);
    border-radius: 50%;
}

.likeBtn :hover {
    background-color: rgb(247, 223, 223);
    color: rgb(190, 128, 128);
}

.shareBtn :hover {
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
}

.expandBtn :hover{
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
}

/* END */

/* left side menu */
/* #leftSideMenu {
    position: relative;
    left: 7%;
} */
.card-body{
    border: none;
    

}

.twittericon{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: transparent; 
    
}

.birdimg{
    max-width: 50px;
    max-height: 50px;
}

.btn-lg {
    width: 100%;
    position: relative;
    left: 0px;
}

/* end */

#header{
    padding: 15px  0 10px 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
#avatar > img{
    width: 60px;
    height: auto;
    border-radius: 50%
}
#avatar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}
#inputArea > #text{
    font-size: 20px;
    border: none;
}
#inputArea {
    padding: 20px 20px 20px 0px;
}
#leftButtonMainTweet{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}
#leftButtonMainTweet > i{
    margin-left: 20px;
    font-size: 20px;
    color: var(--primary-color);
}
#tweetButton {
    background-color: var(--primary-color);
    border-radius: 18px;
    padding: 6px 15px 6px 15px;
    font-weight: bold; 
    outline: none;
    border:none;
}
#remainingChars{
    color: var(--primary-color);
    margin-right: 10px;
}
#rightButtonMainTweet{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#buttonMainTweet{
    padding-bottom: 10px;
}
/* Header  */
/* Right Side Menu */
@media screen and (max-width: 800px){
#rightSideMenu {
    border: 2px white solid;
    background-color: white;
    padding-top: 5px;
    visibility: hidden;
    clear: both;
    display: none;
    padding-left: 1rem;
}}

@media screen and (max-width: 1400px){
.follower {
    visibility: hidden;
    clear: both;
    display: none;
}}

.trend >li > a {
    color: var(--primary-color);
    text-decoration: none;
}

.trend >li > a :hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.trend >li :hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.searchBar {
    border-radius: 15px;
}

.trend {
    margin-top: 2%;
    margin-bottom: 6%;
    background-color:var(--sub-bg-color);
    list-style-type: none;
    border-radius: 10px;
    padding: 4% 4% 0% 4%;
}
.myLi{
    height: 40px;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 1px; 
    position: relative;
    top : 5px;
    cursor: pointer;
}

.ulFoot {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 13px;
    position: relative;
    right : 20px;
    top : 5px;
    color:#949494;
}

.ulFoot > li > a {
    color: var(--primary-color);
    text-decoration: none;
}

.ulFoot > li :hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.myBtn {
    height: 30px;
    padding-bottom: 1px;
    width: 80px;
    border-radius: 15px;
    position: absolute;
    right: 16px;
    bottom: 10px;
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.myBtn :hover{
    background-color: (--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-sm {
    background-color: var(--primary-color);
    border: none;
}

.mai {
    border-radius: 50%;
}

.phong {
border-radius: 50%;
}

.hai {
border-radius: 50%;
}
.huy {
    border-radius: 50%;
}

 /* Right Side Menu */

/* add style to js */
.img-add {
    width: 70%;
    height: auto;
}

.avatarLee {
    width: 55px;
    height: auto;
    border-radius: 50%
}

.avaReTweet {
    width: 45px;
}

#largeTweetBtn {
    background-color: var(--primary-color);
    border: none;
}

.card-body > a {
    background-color: var(--primary-color);
    border: none;
    text-decoration: none;
}

.rightSideMenu > a {
    background-color: var(--primary-color);
    text-decoration: none;
}

@media screen and (max-width: 1280px){
.placeHolder {
    visibility: hidden;
}
}

@media screen and (max-width: 1920px){
.placeHolder {
    visibility: visible;
}
}

#twitterLogo {
    color: var(--primary-color);
    margin-left: 1rem;
}


.name {
    color: var(--primary-color);
}

/* color picker */
.colorPicker {
    width: 70%;
}

.circle-blue {
    color: rgb(29, 161, 242);
    border: solir 1px white;
}

.circle-red {
    color: rgb(219, 27, 27);
    border: solir 1px white;
}

.circle-yellow {
    color: rgb(231, 231, 37);
    border: solir 1px white;
}

.circle-pink {
    color: rgb(255, 192, 203);
    border: solir 1px white;
}

.circle-purple {
    color: rgb(128, 7, 128);
    border: solir 1px white;
}
