body{
    background-color: lightgray;
}
div{
    background-color: white;
    border: 1px solid gray;
}
#mainTweet {
    min-height: 7rem;
    margin-bottom: 1rem;
}
#tweetTemplate{
    min-height: 7rem; 
}

.card-body{
    border: none;
    

}

.twittericon{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: transparent; 
    
}

.birdimg{
    max-width: 50px;
    max-height: 50px;
}

.btn-lg {
    width: 70%;
    position: relative;
    left: 50px;
}